/****** General ***********/
* {
    font-family: "Raleway", sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-color-dark: #1465de;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    --border-grey: #D9D9D9;
    --font-size-xsmall: 13px; 
    --font-size-small: 14px; 
    --font-size-nomal: 16px;
    --font-size-medium: 17px;
    --font-size-large: 18px;
    --font-size-xlarge: 22px;
    --font-weight-normal: 400;
    --font-weight-semibold: 500;
    --font-weight-bold: 700;
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

h2,
h3 {
    margin: 0;
}

/****** Header ********/ 
header {
    padding: 30px 0;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.logo-booki {
    width: 60px;
}

.menu a {
    padding: 28px 0;
}

.menu .a-activites {
    margin-left: 60px;
}

.menu a:hover {
    border-top: 2px solid var(--main-color);
    color: var(--main-color);
}
/************/

a {
    color: inherit;
    text-decoration: none;
}

/********* Cartes ********/
.section-title {
    font-size: var(--font-size-xlarge);
}

.card {
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-content {
    padding: 10px;
}

.card-title {
    font-size: var(--font-size-nomal);
    margin-bottom: 8px;
}

.card-subtitle {
    font-size: var(--font-size-small);
    margin: 0 0 8px 0;
}

.card-rating {
    display: flex;
    margin-top: 8px;
    margin-bottom: 5px;
}

.euro {
    font-weight: var(--font-weight-bold);
}

/***** étoiles ******/
.fa-solid {
    color: var(--main-color);
    font-size: var(--font-size-small);
}

.neutral-star {
    color: var(--main-bg-color);
    font-size: var(--font-size-small);
}

/****** Footer ******/
footer {
    background-color: var(--main-bg-color);
    padding: 20px;
    margin-top: 30px;
}

.footer-container {
    display: flex;
    flex-direction: row;
}
.footer-elements {
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/**************** Spécifiques ****************/
/****** Haut de page ******/
.search-hebergements {
    margin: 40px 0;
}

.title-page {
    padding: 0 0 20px 0;
}

/****** Form ******/
.form-container {
    display: flex;
}

.form-container .fa-location-dot,
.form-container input,
.btn-search {
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-bold);
}

.form-container .fa-location-dot {
    background-color: var(--main-bg-color);
    color: black;
    border: 1px solid var(--main-bg-color);
    border-radius: 15px 0 0 15px;
    padding: 25px 20px;
}

.input-field {
    border: 1px solid var(--main-bg-color);
    text-align: center;
}

.btn-search {
    padding: 15px 16px;
    color: white;
    border: 1px solid var(--main-color);
    background-color: var(--main-color);
    border-radius: 0 15px 15px 0;
}

.btn-search:hover {
    background-color: var(--main-color-dark);
}

.btn-search i {
    display: none;
}
/****** ******/

.filtres {
    display: flex;
    align-items: baseline;
    padding: 40px 0;
    gap: 15px;
}

.filtres,
.filtres .btn,
.filtres i {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-large);
}

.filtres i {
    padding-right: 10px;
}

.filtres .btn {
    display: flex;
    align-items: baseline;
    background-color: white;
    border-radius: 50px;
    border: 2px solid var(--border-grey);
    padding: 14px 20px;
}

.filtres .btn:hover {
    background-color: var(--filter-bg-color);
}

/***** Infos logements *****/ 
.infos {
    display: flex;
    align-items: center;
    gap: 10px;
}

.infos p {
    margin: 0;
}

.fa-info{
    border: 1px solid var(--border-grey);
    border-radius: 50px;
    padding: 12px 10px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    margin: 33px 0;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hébergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 30px 0;
    gap: 30px;
}

.hebergements-cards .card {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.hebergements-cards a {
    width: 30%;
}

.hebergements-cards img {
    height: 114px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.hebergements-cards .card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-title i {
    font-size: var(--font-size-large);
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
    padding: 5px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

/******* Activités ******/
.activites { 
    padding: 30px;
}

.activites-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.activites-cards .card {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
}

.activites-cards a {
    width: 23%;
}

.activites-cards img {
    height: 380px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.activites-cards h3 {
    font-size: var(--font-size-nomal);
    padding: 20px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
   .btn-search .i-search {
        display: none;
    }

    .filtres {
        display: flex;
        flex-wrap: wrap;
    }
    
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        align-items: center;
        flex-direction: column;
    }  
    
    .populaires-cards a {
        width: 50%;
    }
    
    .activites-cards a {
        width: 23%;
    }

    .activites-cards img {
        width: 100%;
        height: 200px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    .menu .a-activites {
        margin-left: 30px;
    }

    .menu a:hover {
        border-top: none;
        border-bottom: 2px solid var(--main-color);
    }

    .form-container input {
        width: 75%;
    }

    .btn-search .txt-search {
        display: none;
    }
    
    .btn-search .i-search {
        display: inline;
        color: white;
        font-size: var(--font-size-large);
    }
    
    .btn-search {
        border-radius: 15px;
        transform: translate(-15%);
    }
    
    .filtres {
        flex-direction: column;
        gap: 10px;
    }
    
    .filtres i {
        padding-right: 10px;
    }
    .filtres .btn {
        width: 100%;
        font-size: var(--font-size-medium);
    }

    .hebergements-cards {
        justify-content: center;
    }

    .hebergements-cards a {
        width: 90%;
    }

    .populaires-cards {
        align-items: center;
    }

    .populaires-cards a {
        width: 100%;
    } 

    .activites-cards {
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .activites-cards img {
        height: 140px;
    }

    .activites-cards a {
        width: 70%;
    }

    .footer-container {
        display: flex;
        white-space: nowrap;
        flex-direction: column;
        gap: 50px;
        padding: 10px;
    }

    .footer-elements a {
        display: flex;
        flex-direction: row;
    }
}